.header-gist-name {
  flex: 1;
  text-align: center;
}

.issue-item {
  padding: 2px 0px;
  user-select: none;
}

.issue-item:hover {
  background: #fff2;
}

.issue-item.error i {
  color: #ef5350;
}

.issue-item.info i {
  color: #7ea7d8;
}

.issue-item.warning i {
  color: #d9d077;
}

.issue-item i {
  margin: 0px 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}

#editor-panel {
  min-width: 1px;
}

#editor-panel-header {
  width: 100%;
}

#editor-panel-header nav {
  display: flex;
  min-width: 1px;
}

#editor-panel-header .button-group {
  position: initial;
  margin-top: 0;
  margin-right: 12px;
  margin-left: 12px;
}

.mdc-tab-scroller__scroll-area {
  overflow-x: scroll !important;
}

#markdown-content {
  box-sizing: border-box;
  padding-left: 8px;
}

#markdown-content details {
  margin-left: 12px;
}

#markdown-content ol {
  padding-left: 1em;
}