.issue-item {
  padding: 2px 0px;
  user-select: none;
}

.issue-item:hover {
  background: #fff2;
}

.issue-item.error i {
  color: #ef5350;
}

.issue-item.info i {
  color: #7ea7d8;
}

.issue-item.warning i {
  color: #d9d077;
}

.issue-item i {
  margin: 0px 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}