html, body {
  height: 100%;
  color: white;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}