on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - next
    paths:
      - '.github/workflows/cli.yml'
      - 'packages/jaspr_cli/**'
  push:
    branches:
      - main
      - next
    paths:
      - '.github/workflows/cli.yml'
      - 'packages/jaspr_cli/**'

name: CLI Pipeline

jobs:
  cli:
    name: Test CLI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        Variant:
          - smpn
          - vsnn
          - csnn
          - vnen
          - cnen
          - vnns
          - snpn
          - cspn
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
        with:
          submodules: 'true'

      - uses: subosito/flutter-action@v2
        with:
          # remove once Flutter stable supports analyzer 8
          channel: beta 
          flutter-version: 3.36.0-0.4.pre

      - name: Bootstrap
        run: |
          dart pub global activate melos
          dart pub global activate coverage
          melos bootstrap --no-private
          jaspr --disable-analytics

      - name: Run cli test
        run: melos run coverage:cli
        env:
          VARIANT: ${{matrix.VARIANT}}

      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          files: coverage/*_lcov.info
