on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test.yml'
      - 'packages/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test.yml'
      - 'packages/**'

name: Test Pipeline

jobs:
  analyze:
    name: Analyze Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@v1.3
      - uses: subosito/flutter-action@v2

      - name: Bootstrap
        run: |
          dart pub global activate melos
          melos bootstrap
          jaspr --disable-analytics

      - name: Check formatting
        run: melos format

      - name: Check linting
        run: melos analyze

  test:
    name: Test Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@v1.3
      - uses: subosito/flutter-action@v2

      - name: Bootstrap
        run: |
          dart pub global activate melos
          dart pub global activate coverage
          melos bootstrap --no-private
          jaspr --disable-analytics

      - name: Run Unit tests
        run: melos coverage --no-select

      - name: Upload Coverage
        uses: codecov/codecov-action@v3
        with:
          files: coverage/*_lcov.info
